*, *:before, *:after {
    box-sizing: inherit
}
html,b, i, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, h1, h2, h3, h4, h5, h6, a {
    margin: 0;
    padding: 0;
    background-color: transparent;
    vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}
ol, ul, nav {
    list-style: none
}
button, input, select, textarea {
    margin: 0;
    text-transform: none;
}
html {
    box-sizing: border-box;
    overflow-y: scroll;
}

img, embed, iframe, object, audio, video {
    height: auto;
    max-width: 100%;
    padding: 0;
    border: 0;
}
iframe {
    border: 0
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
    text-align: left
}
a {
    text-decoration: none;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
:focus {
    outline: 1;
}
input, select {
    vertical-align: middle;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    background-color: #000;
    margin: 0;
    padding: 0;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
input[type="search"] {
  box-sizing: content-box;
}
fieldset{
    border: 0;
}
sup{
    vertical-align:text-top;
}
sub{
    vertical-align:text-bottom;
}
p{
    margin:0 0 1em 0;
}
i,b{
    font-style: inherit;
}